.modal-Hidden{
    display: none;
}

.slds-modal__container{
    width: 100% !important;
    max-width: 80% !important;
    padding: 0 !important;
    min-width: 640px !important;
      
}
.image{
    max-width: 20%;
    max-height: 40%;
    padding: 5%;
}